.button {
  padding: 11px 35px;

  font-family: "Ubuntu Light", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #008cf0;

  border: none;
  border-radius: 20px;

  cursor: pointer;

  &--detail {
    padding: 6px 41px;

    font-family: "Roboto Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
}
