.comment__container {
  display: flex;

  margin-bottom: 16px;
}

.comment__avatar {
  width: 40px;
  height: 40px;

  margin-right: 10px;
  margin-left: -8px;

  background-color: #f5f5f5;
  background-image: url("./img/avatar.png");
  background-repeat: no-repeat;

  border: 1px solid #c6ced4;
  border-radius: 20px;
}

.comment__info {
  padding-top: 8px;
}

.comment__author {
  margin-bottom: 9px;

  font-family: "Ubuntu Regular", "Arial", sans-serif;
  font-size: 14px;
}

.comment__date {
  font-family: "CorporateA Regular", "Georgia", serif;
  font-size: 12px;
  color: #63677c;
}

.comment__text {
  margin-left: 44px;
  padding: 9px 10px;
  padding-right: 40px;
  padding-bottom: 21px;

  font-family: "Roboto Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  background-color: #e3e9f4;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
