.detail-header {
  position: relative;

  display: flex;
  align-items: center;

  padding: 20px 75px;
  padding-left: 42px;

  background-color: #1a4876;

  &--text {
    padding: 13px 75px;
    padding-left: 42px;
  }
}

.detail-header__title {
  margin: 0;
  margin-right: 27px;

  font-family: "Myriad Pro Regular", "Arial", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;

  white-space: nowrap;
}

.detail-header__text {
  font-family: "Roboto Light", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;

  word-spacing: 0.9px;
}

.detail-header__close {
  position: absolute;

  top: 23px;
  right: 31px;

  width: 16px;
  height: 16px;

  background-image: url("../img/close.png");
  background-repeat: no-repeat;

  cursor: pointer;
}
