.new__label {
  display: block;
  margin-bottom: 10px;
  padding-left: 4px;

  font-family: "Ubuntu Light", "Arial", sans-serif;
  color: #9f9ea7;
  font-size: 14px;
  line-height: 24px;
}

.new__text {
  margin-bottom: 12px;
  background-color: #f9f9fa;
  border-color: #e8e8e8;
  border-radius: 5px;

  &--title {
    height: 83px;
  }

  &--description {
    margin-bottom: 70px;
    height: 133px;
  }
}

