.property-status {
  position: relative;
}

.property-status__container {
  display: flex;
}

.property-status__indicator {
  margin-right: 10px;
}

.property-status__link {
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 14px;
  color: #1974d2;
  text-decoration: none;
}
