.property-status {
  display: flex;
  align-items: center;
}

.property-status__indicator {
  width: 12px;
  height: 12px;

  margin-right: 10px;

  background-color: red;
  border-radius: 20px;
}

.property-status__link {
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 14px;
  color: #1974d2;
  text-decoration: none;
}
