.table {
  width: 100%;

  border-collapse: collapse;
}

.table__header {
  padding: 13px 0;
  padding-left: 14px;

  font-family: "Ubuntu Regular", "Arial", sans-serif;
  font-size: 16px;
  color: #404147;
  text-align: left;

  & .table__header-container {
    border-right: 1px solid #e2e7ea;
  }

  &:first-child .table__header-container {
    border-right: none;
  }

  &:last-child .table__header-container {
    border-right: none;
  }

  &--priority {
    width: 8px;
    padding: 0;
  }

  &--id {
    width: 108px;
    text-align: center;
  }

  &--title {
    width: 419px;
  }

  &--status {
    width: 125px;
  }

  &--executor {
    width: auto;
    padding-left: 30px;
  }
}

.table__header-container {
  display: block;
}


.table__body-row {
  border-top: 1px solid #e2e7ea;
  border-collapse: collapse;
}

.table__cell {
  padding: 18px 5px;

  font-family: "Roboto Light", "Arial", sans-serif;
  font-size: 16px;
  color: #525460;

  border-top: 1px solid #e2e7ea;
  border-bottom: 1px solid #e2e7ea;

  &:first-child {
    padding: 18px 0;
  }

  &:nth-child(2) {
    padding-left: 29px;
    text-align: center;
  }

  &:nth-child(3) {
    padding-left: 15px;
  }

  &--status {
    padding-left: 17px;
    text-align: left;
  }
}
