.text__header {
  margin: 0;
  margin-bottom: 6px;
}

.text__description {
  margin: 0;
  margin-bottom: 43px;

  font-family: "Roboto Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.08px;
}
