.workspace {
  display: flex;
  flex-direction: column;
}

.workspace__options {
  margin-bottom: 11px;
}

.workspace__table-container {
  overflow-y: scroll;
}

.workspace__table {
  padding-top: 27px;

  overflow-y: scroll;
}
