.workspace {
  display: flex;
  flex-direction: column;

  width: 100%;

  &--short {
    width: auto;
  }
}

.workspace__options {
  margin-bottom: 11px;
}

.workspace__table-container {
  overflow-y: auto;
}

.workspace__table {
  padding-top: 27px;
}
